# HW 3 Questions

NAME: Eric Wu

__INSTRUCTIONS__
1. Write your name in this file. (I download them all at once for grading.)
1. Leave your printed answers in the file. I may run your codes, but I want to see your answer before I run them.
1. Save the DB file that you used for this HW. If there is an issue, I may ask you to run your code again, and you will need the same data.
1. Do not send the DB file with your HW. I will ask for it if I need it.

In [1]:
# Make the following fit your computer
"""bigdir = '/Users/jkinser/Documents/CoursesKinser/CDSCardinal/Version5/'
pydir = bigdir + 'pysrc/'
datadir = bigdir + 'data/'
popdir = bigdir + 'population/'"""

mydir = '/Users/eric/Documents/CDS465/'
pydir = mydir + 'pysrc/'
datadir = mydir + 'data/'
popdir = mydir + 'population/'

import numpy as np
import pandas as pd
import sys
sys.path.append( pydir )

In [2]:
import Main
E = Main.Realm( datadir )
"""popname = ##############  YOUR POPULATION .db FILE"""
popname = 'pop2_5.db'
E.ReadAll( popdir + popname )
print( len(E.persondf))

56062

In [3]:
E.portdf

         pid  immigdate  emigdate
index
0      50424       7001        -1
1      50425       7001        -1
2      50426       7001        -1
3      50441       7002        -1
4      50442       7002        -1
...      ...        ...       ...
1075   56046       7359        -1
1076   56047       7359        -1
1077   56060       7360        -1
1078   56061       7360        -1
1079   56062       7360        -1

[1080 rows x 3 columns]

# Task 1
The DNA of every jailed person should be made available to the investigate, but the DNA is not in the _jaildf_. Create a new DF which has all columns from _jaildf_  and the [pid,nstr,ystr,mtdna] columns from the _persondf_. Show the following:
* The number of rows in the original _jaildf_ and the number of rows in the new DF.
* Pick and show random row from the new DF. (Use __sample(1)__ to pick a random row from a DF.)
* Show the  _persondf_ for the same person display their DNA columns. (Do not show the other columns from the _persondf_)

In [4]:
# Your code goes here
cols = [
    'pid',
    'nstr',
    'ystr',
    'mtdna'    
]

jaildf2 = pd.merge(left=E.jaildf,right=E.persondf,on='pid', suffixes=('_jaildf','_persondf'))

In [5]:
#The number of rows in the original _jaildf_ and the number of rows in the new DF.

print(f'The number of rows in the original jaildf is {len(E.jaildf)}')

print(f'The number of rows in the new jaildf is {len(jaildf2)}')

The number of rows in the original jaildf is 6360
The number of rows in the new jaildf is 6360

In [6]:
#Pick and show random row from the new DF. (Use __sample(1)__ to pick a random row from a DF.)
person1 = jaildf2.sample(1)
print(f'A random row from the new df is {person1[cols]}')

A random row from the new df is        pid                                               nstr  \
2369  7179  (10,13);(31,31);(10,10);(10,12);(17,17);(6,7);...

                                                   ystr                mtdna
2369  15;13;26;28;18.0;14;11,14;13;9;10;23;13;23;15;...  1;0;4;1;1;2;4;1;0;1

In [7]:
#Show the  _persondf_ for the same person display their DNA columns. (Do not show the other columns from the _persondf_)

print(jaildf2[jaildf2['pid'] == person1['pid'].iloc[0]][cols])

       pid                                               nstr  \
2369  7179  (10,13);(31,31);(10,10);(10,12);(17,17);(6,7);...

                                                   ystr                mtdna
2369  15;13;26;28;18.0;14;11,14;13;9;10;23;13;23;15;...  1;0;4;1;1;2;4;1;0;1

# Task 2
How many immigrants also have a jail record? Merge _portdf_ and _jaildf_ on a citizen's _pid_ value. Print 5 examples of these citizens from the DF you just created.

In [8]:
# Your code goes here
pd.merge(left=E.portdf,right=E.jaildf,on='pid').head()

     pid  immigdate  emigdate  start   end     jid
0  50491       7005        -1   7326  7440  6325.0
1  50656       7015        -1   7328  7839  6327.0
2  50939       7032        -1   7080  7281  6079.0
3  51212       7049        -1   7188  7402  6187.0
4  51307       7055        -1   7356  7403  6355.0

# Task 3
1. Print the current month (_E.month_).
1. Create a new DF which contains living citizens with a jail record and these items from _persondf_ [pid,death,firstname,lastname,coop]. Print the number of rows in the new DF.
1. Find a citizen with a jail record, who is now out of jail (the jail 'end' date is earlier than the current month), and has a _coop_ factor over 0.7. Print the number of rows that have these qualities.
1. Print 3 examples which shows their jail record, names, death dates, and coop factor

In [9]:
# Your code goes here
# Be nice to your prof and insert comment lines at the beginning of each step

#print the current month
print(f'The current month is {E.month}')

The current month is 7360

In [10]:
#Create a new DF which contains living citizens with a jail record and these items from _persondf_ [pid,death,firstname,lastname,coop]. Print the number of rows in the new DF.

s1 = E.persondf['death'] < 0 #living persons

living_inmates_df = pd.merge(left=E.persondf[s1], right=E.jaildf, on='pid')
print(len(living_inmates_df))

238

In [11]:
#Find a citizen with a jail record, who is now out of jail (the jail 'end' date is earlier than the current month), and has a _coop_ factor over 0.7. 
#Print the number of rows that have these qualities.

s1 = living_inmates_df['end'] < E.month
s2 = living_inmates_df['coop'] > 0.7
query = s1 & s2

print(len(living_inmates_df.loc[query]))

10

In [12]:
#Print 3 examples which shows their jail record, names, death dates, and coop factor
living_inmates_df.loc[query, list(E.jaildf.columns) + ['firstname', 'lastname', 'death', 'coop']].sample(3)

       pid  start   end     jid firstname lastname  death      coop
133  48111   7126  7330  6125.0     Avien    jiang     -1  0.886128
134  48181   7272  7329  6271.0       Pau   ouyang     -1  0.857419
170  49437   7193  7342  6192.0  Maddison      tuo     -1  0.703604

# Task 4
Create a new DF. The rows contain information about a female and her biological mother. For both, keep only [pid, names, biomom, mtdna, gender]

* Use _suffixes_ to name the daugther columns with the letter 'D' at the end, and the mother columns with the letter 'M' at the end.
* Print 3 sample rows

In [13]:
# your code goes here
s1 = E.persondf['gender'] == 'F' # only females
cols = ['pid', 'firstname', 'lastname', 'biomom', 'mtdna', 'gender']

female_persons = E.persondf[s1][cols]

female_m_d = pd.merge(left=female_persons, right=female_persons, left_on='pid', right_on= 'biomom', suffixes=('_M','_D'))

female_m_d.sample(3)

,pid_M,firstname_M,lastname_M,biomom_M,mtdna_M,gender_M,pid_D,firstname_D,lastname_D,biomom_D,mtdna_D,gender_D
1855,3045,Meily,ouyang,1735,1;3;0;1;1;w2;7;4;1;1,F,4592,Elowyn,ka,3045,1;3;0;1;1;w2;7;4;1;1,F
5477,9243,Ambrosia,bo,6225,"1;1;w2,w3;1;1;2;0;1;1;2",F,12498,Mulki,fang,9243,"1;1;w2,w3;1;1;2;0;1;1;2",F
9801,17075,Teagann,fang,14601,1;3;3;1;1;2;5;4;1;0,F,19953,Dallis,hua,17075,1;3;3;1;1;2;5;4;1;0,F

# Task 5
What is the percentage of immigrants who have married someone of a different dominant ethnic group (dometh)? 

1. Create _df1_ which is the merge of _portdf_ and _persondf_. The only columns you need from _persondf_ are [pid, dometh]
1. Create _df2_ which is the merge of _df1_ and _weddf_ where this collects the wedding information if the immigrant is female.
1. Create _df3_ which is the merge of _df2_ and _weddf_ where this collects the wedding information if the immigrant is male. Use __copy()__ in the creation of _df3_ because we will add columns soon.
1. Use __fillna(-1)__ to get rid of the NaN values.
1. Create a new column named _myspouse_ which is the _pid_ value of the immigrant's, spouse.
1. Create _df4_ from the merge of _df3_ and _persondf[pid,dometh]_ to get the dominant ethnicity of the spouse.
1. Count the number of rows in which the dominant ethnicity of the two spouses differs. Divide this by the total number of rows to get the percentage.

In [ ]:
#identify inter-ethnicity marriges pass 2

#enrich portdf to include dometh and drop emigdate from df1_1
df1_1 = pd.merge(left=E.portdf,right=E.persondf[['pid','dometh']],on='pid').drop('emigdate',axis=1)

#get husbands pid and wife pid from the weddf
cols_1 = ['husband','wife']
df_hw = E.weddf[cols_1]

#create and enrich df2_1 by adding husbands and drop the wife column since we merged over it
df2_1 = pd.merge(left=df1_1, right=df_hw, left_on='pid', right_on='wife',how='left').drop('wife',axis=1)

#enrich df2_1 by adding wifes and drop the husband_w column since we merged over it
df2_1 = pd.merge(left=df2_1, right=df_hw, left_on='pid', right_on='husband',how='left',suffixes=('','_w')).drop('husband_w',axis=1)
#print(df2_1)

#create myspouse column in df2_1
df2_1['myspouse'] = np.where(df2_1['husband']>0, df2_1['husband'], df2_1['wife'])

#get myspouse dometh and drop pid_myspouse since we merged over it
df3_1 = pd.merge(left=df2_1,right=E.persondf[['pid','dometh']],left_on='myspouse',right_on='pid',suffixes=('','_myspouse')).drop('pid_myspouse',axis=1)


#filter out unmarried imigrants and identify cases of interethnicity marriage
s1 = df3_1['myspouse'] > 0 
s2 = df3_1['dometh'] != df3_1['dometh_myspouse']
query = s1 & s2

#output married & interethnicity marriges/total marriges
print(len(df3_1.loc[query])/len(df3_1.loc[s1]))

0.12195121951219512

In [42]:
#identify inter-ethnicity marriges pass 2
df2_1 = pd.merge(
            left=pd.merge(
                left=pd.merge(left=E.portdf,
                              right=E.persondf[['pid','dometh']],
                              on='pid'
                            ).drop('emigdate',axis=1), 
                        right=E.weddf[['husband','wife']], 
                        left_on='pid', 
                        right_on='wife',
                        how='left'
                    ).drop('wife',axis=1), 
                    right=E.weddf[['husband','wife']],
                    left_on='pid', 
                    right_on='husband',
                    how='left',suffixes=('','_w')
                ).drop('husband_w',axis=1)

#create myspouse column in df2_1
df2_1['myspouse'] = np.where(df2_1['husband']>0, 
                             df2_1['husband'], 
                             df2_1['wife']
                            )

#get myspouse dometh and drop pid_myspouse since we merged over it
df3_1 = pd.merge(left=df2_1,
                 right=E.persondf[['pid','dometh']],
                 left_on='myspouse',
                 right_on='pid',
                 suffixes=('','_myspouse')
                ).drop('pid_myspouse',axis=1)


#filter out unmarried imigrants and identify cases of interethnicity marriage
s1, s2 = df3_1['myspouse'] > 0, df3_1['dometh'] != df3_1['dometh_myspouse']

#output married & interethnicity marriges/total marriges
print(len(df3_1.loc[s1 & s2])/len(df3_1.loc[s1]))

0.12195121951219512

In [15]:
# your code goes here and below
# please put each step in a separate cell. It is easier to grade for cases that need partial credit.

Create _df1_ which is the merge of _portdf_ and _persondf_. The only columns you need from _persondf_ are [pid, dometh]

In [16]:
df1 = pd.merge(left=E.portdf,right=E.persondf[['pid','dometh']],on='pid')
df1['pid'].unique()

array([50424, 50425, 50426, ..., 56060, 56061, 56062], shape=(1080,))

Create _df2_ which is the merge of _df1_ and _weddf_ where this collects the wedding information if the immigrant is female.

In [17]:
df2 = pd.merge(left=df1,right=E.weddf,left_on='pid',right_on='wife',how='left')
len(set(df2['pid']))

1080

Create _df3_ which is the merge of _df2_ and _weddf_ where this collects the wedding information if the immigrant is male. Use __copy()__ in the creation of _df3_ because we will add columns soon.

In [18]:
df3 = pd.merge(left=df2,right=E.weddf,left_on='pid',right_on='husband',how='left').copy()
len(set(df3['pid']))

1080

Use __fillna(-1)__ to get rid of the NaN values.

In [19]:
#df3 = df3.fillna(-1)

Create a new column named _myspouse_ which is the _pid_ value of the immigrant's, spouse.

In [20]:
xcol = ['cid_x', 'husband_x', 'wife_x', 'firstH_x', 'lastH_x', 'firstW_x', 'lastW_x', 'date_x', 'divorce_x', 'spdie_x']
ycol = ['cid_y', 'husband_y', 'wife_y', 'firstH_y', 'lastH_y', 'firstW_y', 'lastW_y', 'date_y', 'divorce_y', 'spdie_y']
col = list(E.weddf.columns)

for i in range(len(col)):
    df3[col[i]] = df3[xcol[i]].combine_first(df3[ycol[i]])

df3 = df3.drop(columns=xcol+ycol)

df3['myspouse'] = np.where(df3['husband'] != df3['pid'], df3['husband'], df3['wife'])

Create _df4_ from the merge of _df3_ and _persondf[pid,dometh]_ to get the dominant ethnicity of the spouse.

In [21]:
df4 = pd.merge(left=df3,right=E.persondf[['pid','dometh']],left_on='myspouse',right_on='pid',how='left',suffixes=('', '_spouse')).fillna(-1)

Count the number of rows in which the dominant ethnicity of the two spouses differs. Divide this by the total number of rows to get the percentage.

In [22]:
s1 = df4['myspouse'] > 0 #check marrige
s2 = df4['dometh'] != df4['dometh_spouse'] #check diff dometh
query = s1 & s2

len(df4.loc[query])/len(df4.loc[s1])

0.12195121951219512

In [ ]:
'''E.isle['terrain'][1024,1024]
ndx = (E.isle['terrain'] == 255) | (E.isle['terrain'] == 0)
ndx.sum()'''

np.int64(4194304)