# HW 5

Name: Eric Wu

In [1]:
# Make the following fit your computer
#bigdir = '/Users/jkinser/Documents/CoursesKinser/CDSCardinal/Version5/'

bigdir = '/Users/eric/Documents/CDS465/'

pydir = bigdir + 'pysrc/'
datadir = bigdir + 'data/'
popdir = bigdir + 'population/'

import numpy as np
import pandas as pd
import sys
sys.path.append( pydir )

In [2]:
import Main
E = Main.Realm( datadir )
#E.ReadAll( popdir + 'mpop09.db')
E.ReadAll(popdir + 'pop3_6.db')
len(E.persondf)

82525

## Task 1
Print the 5 movies with the longest title.

HINT:  Use __str.len()__ to calculate the length of strengths for each item in a Series

In [3]:
# your code
mv_sort = E.moviesdf['title'].sort_values(key=lambda x: x.str.len(), ascending=False).head(5)

mv_sort

index
455    A Girls: The Return of Huckleberge haben klein...
365    Edge of Chris Rock and the Man Folks Called: T...
103    Two: The Pride of the Vampire de Jean Guns toi...
97     Walking Murder : 1 Ghosts of Keith Race Tailor...
151    No Stratto ad uccidete agente in Dada: Auto da...
Name: title, dtype: object

# Task 2
List the top 5 pairs of actors who have been in the most movies together.

In [4]:
#merge over mid to make pairs
actors2x = pd.merge(E.inmoviedf[['mid','pid']],
                    E.inmoviedf[['mid','pid']],
                    on='mid',
                    suffixes=('_1', '_2')
                ) 

#remove self pairs
actor_pairs = actors2x[actors2x['pid_1'] > actors2x['pid_2']].copy() 

#group by pairs, assign counts, reset label, then sort by movie count; only show the top 5 pairs
print(actor_pairs.groupby(['pid_1', 'pid_2']).size().reset_index(name='movie_count').sort_values(by='movie_count', ascending=False).head(5))

    pid_1  pid_2  movie_count
16  71812  65518           16
21  72863  69246            6
1   65518  59459            6
7   65998  65518            6
6   65998  61552            5

In [ ]:
"""cols = ['pid','job']

s1 = E.persondf['job'] == 1

E.persondf.loc[s1][cols]"""

         pid  job
index
65517  65518  1.0
67747  67748  1.0
71811  71812  1.0
72831  72832  1.0
72862  72863  1.0
75540  75541  1.0
75806  75807  1.0

In [ ]:
"""E.inmoviedf['pid'].unique()"""

array([59021, 65998, 61552, 66137, 59459, 65518, 65607, 67748, 69246,
       71812, 72832, 72863, 75541, 75807])

# Task 3
Most movies have several actors, and they have birth dates. Define _mbd_ as the "movie birth difference" which is the difference (in months) of the ages of the oldest and youngest actors in that movie. Find the 5 movies with the largest _mdb_ values.

You may want to solve this problems in steps. PLEASE explain what you are doing at each step. This can be either as code comments or Jupyter text cells.

In [7]:
#get actors from inmoviedf
actors = pd.merge(E.inmoviedf[['mid','pid']],
                  E.persondf[['pid', 'birth', 'death']],
                  on='pid') #inner join to get birth and death to find age

#add age
actors['age'] = np.where(actors['death'] > 0, actors['death'] - actors['birth'], E.month - actors['birth'])

#find the lowest and highest age per movie
diff_in_age = actors.groupby('mid')['age'].aggregate(['min','max']).reset_index() 
diff_in_age['mbd'] = diff_in_age['max'] - diff_in_age['min'] #calculate mbd

#sort by highest difference and only show top 5
diff_in_age[['mid','mbd']].sort_values(by='mbd', ascending=False).head(5)

     mid  mbd
191  474  473
185  462  473
179  452  473
172  437  473
115  282  465

In [14]:
s1 = E.inmoviedf['mid'] == 474

pd.merge(E.inmoviedf.loc[s1], E.persondf[['pid','birth','death']], on='pid')

   mint  mid    pid  birth  death
0   257  474  75541   7931     -1
1   258  474  71812   7779     -1
2   259  474  65518   7458     -1

In [9]:
from collections import Counter
print(f'len of persondf: {len(E.persondf)}')
print(f'month: {E.month}')
print(f'Count of death (true == dead): {Counter(E.persondf['death'] > 0)}')
print(f'Unique pids that have acted in movies: {E.inmoviedf['pid'].unique()}')
print(f'number of movies with 2+ actors: {len(E.inmoviedf.groupby('mid')['pid'].count().reset_index(name='actor_count').sort_values(by='actor_count', ascending=False).query('actor_count > 1'))}')

len of persondf: 82525
month: 8200
Count of death (true == dead): Counter({True: 69475, False: 13050})
Unique pids that have acted in movies: [59021 65998 61552 66137 59459 65518 65607 67748 69246 71812 72832 72863
 75541 75807]
number of movies with 2+ actors: 52

In [10]:
print(f'number of movies with 2+ actors \n {E.inmoviedf.groupby('mid')['pid'].count().reset_index(name='actor_count').sort_values(by='actor_count', ascending=False).query('actor_count > 1')}')

number of movies with 2+ actors
      mid  actor_count
0      1            4
167  426            3
115  282            3
138  340            3
15    41            3
65   158            3
164  415            3
154  384            3
119  292            3
6     18            3
172  437            3
191  474            3
179  452            3
185  462            3
100  239            2
111  270            2
110  269            2
108  259            2
103  248            2
58   138            2
99   238            2
61   148            2
93   219            2
69   170            2
121  302            2
67   166            2
96   225            2
136  334            2
122  303            2
123  304            2
127  316            2
133  328            2
50   117            2
140  345            2
147  359            2
150  367            2
151  370            2
152  374            2
153  378            2
157  395            2
158  398            2
165  420            2
169  430            2
54   128            2
97   229            2
12    32            2
10    28            2
38    89            2
7     21            2
19    51            2
39    94            2
2      6            2